# Binaries
/**/*.exe
/**/*.zpr
/**/*.o
/**/*.zip
bin/**/*
!bin/**/*.md

# C Files
/source/**/*
!/source/**/
!/source/**/*.c
!/source/**/*.h
!/source/**/*.md

# Environment
.env*
!.env*.example

# IDE
.vscode
.idea
